<div class="login-box">
  <div class="login-logo">
    <b>UTFPR</b> <br/>Gerenciador de salas
  </div>
  <!-- /.login-logo -->
  <div class="login-box-body">
    <%= render 'callbacks' %>
    <p class="login-box-msg">Entre com as informações abaixo para acessar o painel</p>
    <%= render 'form', sala: @sala %>
  </div>
  <!-- /.login-box-body -->
</div>
