<% content_for :titulo do %>
Cadastrar RFID para <%= @pessoa.type %> <%= @pessoa.to_s %>
<% end %>

<div class="box box-primary">
  <div class="box-header with-border">
    <h3 class="box-title">Cadastrar novo RFID</h3>
  </div>
    <div class="box-body">
      <%= render 'form', rfid: @rfid %>
</div>

</div>
