<table class="table table-hover">
          <tbody>
          <tr>
            <th>Tipo de credencial</th>
            <th>Código</th>
            <th></th>
            <th></th>
          </tr>
          <% pessoa.credenciais.each do |credencial| %>
            <tr>
            <td><%= credencial.type %>
            <td><%= credencial.to_s %></td>
            <td><%= link_to 'Editar', [:edit, pessoa, credencial], class: "btn btn-primary"%></td>
            <td><%= link_to 'Excluir' , [pessoa, credencial], method: :delete, class: "btn btn-danger",
             data:{confirm: "Tem certeza que deseja excluir esta credencial?"} %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
