<% content_for :titulo do %>
Editar servidor <%= @servidor.to_s %>
<% end %>

<div class="box box-primary">
  <div class="box-header with-border">
    <h3 class="box-title">Editar servidor</h3>
  </div>
    <div class="box-body">
      <%= render 'form', servidor: @servidor %>
</div>

</div>
