<% content_for :titulo do %>
Editar professor <%= @professor.to_s %>
<% end %>

<div class="box box-primary">
  <div class="box-header with-border">
    <h3 class="box-title">Editar professor</h3>
  </div>
    <div class="box-body">
      <%= render 'form', professor: @professor %>
</div>

</div>
