<% content_for :titulo do %>
  Cadastrar nova sala
<% end %>

<div class="box box-primary">
  <div class="box-header with-border">
    <h3 class="box-title">Criar nova sala</h3>
  </div>
    <div class="box-body">
      <%= render 'form', sala: @sala %>
</div>

</div>
